<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>St. Paul Crime</title>
    <link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Leaflet (MAP) -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
   <!-- JQuery & Vue -->
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="application/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script type="application/javascript" src="scripts/script.js"></script>

<style>

#app{
	//height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}
#overlay{
  background-color: black;
  opacity: 0.85;
  height: 10000px;
  width: 10000px;
  position: fixed;
  z-index: 1;
}

#searchBlock{
	width: 100%;
	height: 100px;
	background-color: #1d2a2b;
	padding-top: 2%;
	padding-bottom: 2%;
	opacity: 0.9;
	font-size: 2em;
	z-index: 10;
	margin: 0 auto;
}

#map{
	padding-top: 20%;
	//margin-left: 10px;
	//margin-right: 10px;
	height: 640px;
	width: 80%;border: 7px solid black;
	border-radius: 5px;
}

#crimes{
  max-height: 300px;
  overflow: scroll;
  display: block;
}


table{
	background-color: white;
	width: 100%
	height: 100px;

}
body {
	width: 100%;
  overflow: auto;
}
.container{
	width: 100%;

}



</style>
</head>


<body onload="Prompt()">
    <div id="app">
      <div id="overlay" <!--v-if="still_loading"--> ></div>

        <!-- Prompt -->
        <div class="dialog-form">
            <label for="name" style="color: white;font-size:2em;">Port for St. Paul Crime API:</label>
            <input type="text" id="prompt_input" class="text ui-widget-content ui-corner-all" style="width: 320px;" placeholder="cisc-dean.stthomas.edu: &#60;port&#62;"></input>
        </div>
        <!-- End: Prompt -->

		<div class="container-fluid no-padding" id="searchBlock">


			<div class="row justify-content-center">
				<input id="search" class="col-xs-12 col-m-6 col-xl-6" type="text" v-model="location_search" :placeholder="search_placeholder"></input>
				<select id="type" class="col-xs-12 col-m-3 col-xl-2" v-model="search_type">
					<option v-for="option in search_type_options" :value="option.value">{{ option.text }}</option>
				</select>
				<button type="button" class="col-xs-12 col-m-3 col-xl-2" @click="LocationSearch">Search</button>
				<button type="button" class="col-xs-12 col-m-3 col-xl-1" @click="filter">Apply Filter</button>
			</div>
			<div class="row"><br/></div>

			<div class="row">
		<!--		<div class="col-xl-2">LEFT</div> -->
				<div id="map" class="col-xl-8" v-model="map" >
				</div>
				<div id="right-side" class="col-xl-4">
					<div class="row">	
						<div  class="col-xl-6">
							<span> DATE START: </span>
							<input v-model="start_date" class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" type="text">
						</div>
						<div  class="col-xl-6">
							<span> DATE END: </span>
							<input v-model="end_date"class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" type="text">
						</div>
					</div>
					<div class="row">	
						<div  class="col-xl-6">
							<span> TIME START: </span>
							<input v-model="start_time" class="form-control" id="date" name="date" placeholder="24 hours:60 mins" type="text">
						</div>
						<div  class="col-xl-6">
							<span> TIME END: </span>
							<input v-model="end_time" class="form-control" id="date" name="date" placeholder="24 hours:60 mins" type="text">
						</div>
					</div>
					<div class="row">	
					<span> INCIDENT TYPES </span><br>
					</div>
					<div class="row" style="font-size=0.25em;">	
						<div  class="col-xl-12">
							<form >
								<input v-model="crime_filter" type="checkbox" name="Violent Crimes" value="violent">Violent Crimes
								<input v-model="crime_filter" type="checkbox" name="Property Damage" value="prop">Property Damage
								<input v-model="crime_filter" type="checkbox" name="Other" value="other">Other
							</form>
						</div>
					</div>
					<div class="row" style="border-top: 5px solid black">	
						<span> NEIGHBORHOODS </span><br>
					</div>
					<div class="row" style="height: 100px; overflow-y: scroll;border-bottom: 5px solid black">	
						<div  class="col-xl-12">
						 <form>
							<ul style="list-style:none;">
								<li v-for="hood in neighborhoods">
								<input v-model="hood_filter" type="checkbox" id="{{hood.hood}}" :value="hood.hood" style="font-size: 20em;">
								<label for="{{hood.hood}}" >{{hood.hood}}</label>
								</li>
							</ul>
							</form>
						</div>
					</div>
					
					<div class="row">	
						<div id="crimes">
							<table class="table table-bordered table-striped">
							  <thead>
								<tr>
								  <th>Date</th>
								  <th>Time</th>
								  <th>Neighborhood Name</th>
								  <th>Incident Type</th>
								</tr>
							  </thead>
							  <tbody>
								<tr v-model="rows" v-for="row in rows" @click="app.incident=row; app.location_search=row.block; app.crime=1; LocationSearch();" :style="app.colors[row.code]">
								  <td>{{row.date}}</td>
								  <td>{{row.time}}</td>
								  <td>{{app.neighborhoods[row.neighborhood_number-1].hood}}</td>
								  <td>{{row.code}}</td>
								</tr>
							  </tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

	   
	  
	  </div>
  </div>
  
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
	   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
	   crossorigin=""></script>
</body>




</html>

